* {
  padding: 0px;
  margin: 0px;
  /* box-sizing: content-box;  */
}
body {
  font-family: "Times New Roman", Times, serif;
}
.banner {
  background-image: url("../img/cafe.jpeg");
  background-repeat: none;
  height: 20rem;
  background-color: cornflowerblue;
  background-size: cover;
  background-position: center;
  padding: 1.2rem;
  font-size: 18px;
}
nav {
  padding: 20px;
}
.menusuperior {
  list-style: none;
  text-align: center;
}
.menusuperior li {
  display: inline-block;
}
.menusuperior a {
  text-decoration: none;
  /* mayusculas se usa el uppercase*/
  text-transform: uppercase;
  background-color: black;
  color: cornsilk;
  padding: 1.2rem;
  font-size: 18px;
}
#contenido {
  background-color: rgba(102, 120, 226, 0.781);
  padding: 2rem;
  width: 70%;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align-last: justify;
}
.contenedorFlex {
  display: flex;
}
.local {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.local img {
  width: 40%;
  padding: 1rem;
  border-radius: 30px;
}
aside {
    text-decoration: none;
  background-color: blue;
  width: 30%;
  background-image: url("../img/restaurante2.jpeg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

footer {
  clear: both;
  background-color: darkslategray;
  text-align: center;
}
