{{> head}}

<body>
    {{> navbar}}
    <div class="card m-3">
        <img src="{{user.avatar}}" class="m-1" alt="User Profile Image" style="height: 300px;object-fit: contain;">
        <div class="card-body text-center">
            <h5>Name: {{user.name}} </h5>
            <h5>Email: {{user.email}}</h5>
            <form id="avatarForm" class="text-center" method="POST" action="/api/user/avatar"
                enctype="multipart/form-data">
                <label class="btn btn-primary text-center" for="avatar">Upload File</label>
                <input id="avatar" type="file" class="d-none" name="avatarFile" accept="image/*"
                    onchange="avatarForm.submit()">
            </form>
        </div>
    </div>


    </div>
</body>