<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>User Logeed</h1>
    <div>
        <img src={{avatar}} alt="User Profile Image">
        <h2>Name: {{name}}</h2>
        <h2>Email: {{email}}</h2>
        <form method="POST" id="avatarForm" action="/api/user/avatar" enctype="multipart/form-data">
            <label for="avatar" style="cursor:pointer;padding:10px;border-radius: 10px;outline: solid 1px black;">Upload Your Image</label>
            <input id="avatar" style="display: none;"  type="file" name="avatarFile" onchange="document.getElementById('avatarForm').submit()">
        </form>
    </div>
    
</body>
</html>